<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.32">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.67">
    <script>node {
   def mvnHome
   stage(&apos;pull&apos;) { // for display purposes
    build &quot;pull&quot;
   }
   stage(&apos;deploy setup&apos;) { // for display purposes
    build &quot;deploy_setup&quot;
   }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>